@using Project.Genius.Schema.Entities
@model Module

<h1>
    <a href="javascript:void(0);"
       class="editable"
       data-type="text"
       data-url="@Url.Action("InlineEdit")"
       data-name="Name"
       data-pk="@Model.Id">@Model.Name</a>
    <small class="pull-right">
        <a href="#myModal" class="btn btn-sm btn-inverse" data-toggle="modal">New Task</a>
    </small>
</h1>

<table class="table table-bordered modules">
    <tr>
        <th class="header">Caption</th>
        <td colspan="4">
            <a href="javascript:void(0)"
                class="editable"
                data-type="text"
                data-url="@Url.Action("InlineEdit")"
                data-name="Caption"
                data-pk="@Model.Id">@Model.Caption</a>
        </td>
    </tr>
    <tr>
        <th class="header">Description</th>
        <td colspan="4">
            <a href="javascript:void(0)"
                class="editable"
                data-type="text"
                data-url="@Url.Action("InlineEdit")"
                data-name="Description"
                data-pk="@Model.Id">@Model.Description</a>
        </td>
    </tr>
    <tr>
        <th class="col-lg-1 col-sm-2">Type</th>
        <td class="col-sm-4">
            <a href="javascript:void(0)"
                class="editable"
                data-type="select"
                data-source="@Url.Action("GetTypes")"
                data-url="@Url.Action("InlineEdit")"
                data-value="@Model.Type.Id"
                data-name="Type"
                data-pk="@Model.Id">@Model.Type.Name</a>
        </td>
        <th class="col-lg-1 col-sm-2">Optional</th>
        <td class="col-sm-4">
            @Html.CheckBoxFor(model => model.Optional,
            new {
                @id="moduleOptional",
                @data_name="Optional",
                @data_pk=@Model.Id,
                @data_url=@Url.Action("InlineEdit")
            })
        </td>
    </tr>
    <tr>
        <th class="col-lg-1 col-sm-2">Created By</th>
        <td class="col-sm-4">@Model.CreateBy.DisplayName</td>
        <th class="col-lg-1 col-sm-2">Created On</th>
        <td class="col-sm-4">@Model.CreatedOn</td>
    </tr>
    <tr>
        <th class="col-lg-1 col-sm-2">Updated By</th>
        <td class="col-sm-4">@Model.UpdateBy.DisplayName</td>
        <th class="col-lg-1 col-sm-2">Updated On</th>
        <td class="col-sm-4">@Model.UpdateOn</td>
    </tr>
</table>

<div id="moduleTasks" class="dd" data-arrange-url="@Url.Action("ArrangeTasks")">
    <ol class="dd-list">
        @foreach (var task in Model.Tasks.OrderBy(t => t.Order))
        {
            <li class="dd-item dd3-item" data-id="@task.Id">
                <div class="dd-handle dd3-handle">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="dd3-content">@task.Name</div>
            </li>
        }
    </ol>
</div>

<script type="text/javascript">
    $(function () {
        activatEditableFunctions();
        activateNestableFunctions();
    });
</script>