@model IEnumerable<Project.Genius.Schema.Entities.Module>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-todo">
    <div class="col-sm-4 tasks">
        <div class="task-list">
            <p>
                @Html.ActionLink("+Module", "Create", "Module", new { @class = "btn btn-success"} )
            </p>
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-list"></i>
                        Modules
                    </h2>
                </div>
                <div class="box-content">
                    <div class="todo">
                        <ul class="todo-list font-size-twelve">
                            @foreach (var module in Model)
                            {
                                <li data-id="@module.Id">
                                    <span class="todo-actions">
                                        <i class="fa fa-list-alt"></i>
                                    </span>
                                    <span class="desc">
                                        @Ajax.ActionLink(
                                            @module.Name,
                                            "Details",
                                            new {
                                                id = @module.Id
                                            },
                                            new AjaxOptions {
                                                HttpMethod = "get",
                                                InsertionMode = InsertionMode.Replace,
                                                UpdateTargetId = "moduleDetails"
                                            })
                                    </span>
                                    <span class="label label-info">@module.Type</span>
                                    <a class="remove" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 message">
        <div id="moduleDetails">
            @*@Html.Partial("_Details", ModuleHandle.)*@
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/pages/todo")
}