@model IEnumerable<Project.Genius.Schema.Entities.Module>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-todo">
    <div class="col-sm-4 tasks">
        <div class="task-list">
            <p>
                @Html.ActionLink("New Module", "Create", "Module", new { @class = "btn btn-success"} )
            </p>
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-list"></i>
                        Modules
                    </h2>
                </div>
                <div class="box-content">
                    <div class="todo">
                        <ul class="todo-list">
                            @foreach (var module in Model)
                            {
                                <li data-id="@module.Id">
                                    <span class="todo-actions">
                                        <i class="fa fa-hand-o-right"></i>
                                    </span>
                                    <span class="desc">
                                        <a href="#">@module.Name</a>
                                    </span>
                                    <span class="label label-info">@module.Type</span>
                                    <a class="remove" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 message">
        
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/pages/todo")
}